.github/ @davejohnnie @Munene-Gitau1
.github/workflows/ @davejohnnie @Munene-Gitau1
.github/CODEOWNERS @davejohnnie @Munene-Gitau1

/backend/ @Munene-Gitau1
/frontend/ @tylerrjim @Munene-Gitau1
/devops/ @davejohnnie @Munene-Gitau1

* @davejohnnie @Munene-Gitau1
